{% extends 'header.html' %}

{% block main_start %}
  <style>
    form {
           border: 5px solid blue;
           margin: 20px;
           float: right; 
           padding: 30px;
           padding-bottom: 10px;
           background-color: lightgray;
       }
     h2 {
          color: red;
          float: right;
     }
    select {
             text-transform: capitalize;
        }
  </style>
    <h1>Welcome You to change detail page</h1>
    {% if flag %}
      <h2>{{flag}}</h2>
    {% endif %}
    {% if field.flag2 %}
      <h2>{{flag2}}</h2>
    {% endif %}
    <form action="/home/changed/" method="post">
      {% csrf_token %}
      <table>
        <tr>
          <td>Username:</td>
          <td><input type="text" name="username" value="{{field.uname}}" readonly></td>
          <!--{% if field and not field.u_name %}
            <p style="color:red">Username field Required</p>
          {% endif %}-->
        </tr>

        <tr>
          <td>Email:</td>
          <td><input type="email" name="email-id" value="{{field.uname.email}}"></td>
        </tr>
 
        <tr>
          <td> Password:</td>
          <td><input type="password" name="password" value="{{field.objct.confermPassword}}"></td>
        </tr>

        <tr>
          <td>Conferm Password:</td>
          <td><input type="password" name="c_password" value="{{field.objct.confermPassword}}"></td>
        </tr>          
       
        <tr> 
          <td><label>Name:</label></td>
          <td><input type="text" name="name" value="{{field.uname.first_name}}"></td>
        </tr>

        <tr>
          <td><label>Current Company:</label></td>
          <td>
          <select name="current-company">
            {% for item in field.lst %}
              <option value={{item}}>{{item}}</option>
            {% endfor %}
          </select>
          </td>
        </tr>


        <tr>  
          <td><label>Desination:</label></td>
          <td><input type="text" name="desination" value="{{field.objct.desination}}"><td>
        </tr>

        <tr>
          <td> <label>Age:</label></td>
          <td><input type="text" name="age" value="{{field.objct.age}}"></td>
        </tr>

        <tr>
          <td></td>
          <td><input style="margin-left: 123px" allign="center" value="Add! "type="submit" name="Add"></td>
        </tr>
 
      </table>
    </form>
    {% if field.flag1 %}
          {% if field and not field.e_mail %}
            <p style="color:red">Email field Required</p>
          {% endif %}
          {% if field and not field.p_word %}
            <p style="color:red">Password field Required</p>
          {% endif %}
          {% if field and not field.c_pass %}
            <p style="color:red">Confern Password field Required</p>
          {% endif %}
          {% if field and not field.p_name %}
            <p style="color:red">Name field Required</p>
          {% endif %}
          {% if field and not field.p_desination %}
            <p style="color:red">Desination field Required</p>
          {% endif %}
          {% if field and not field.p_age %}
            <p style="color:red">Age is Required</p>
          {% endif %}
    
    {% endif %}
{% endblock %} 
