<html>
  <head>
  <style>
    .shift {
        float: right;
        border: 3px solid green;
        padding: 30px;
     }
    a {
        font-size: 28px;
        border: 10px solid navy;
        padding: 5px;
        background-color: yellow;
        margin-top: 960px;  
        margin-left: 1210px;  
        
     }
  </style>
  </head>
  <body>
    <h1>Welcome You just click on login </h1>
    <!--<h1>Welcome You just <a href="/home/log_in/">clickhere</a> </h1>-->
    {% if flag %}
      <h2>{{flag}}</h2>
    {% endif %}

      <form class="shift" action="/home/log_in/" method="post">
        {% csrf_token %}
          Username:<input type="text" name="username" value={{field.u_name}}><br>
          <br>
          Password:<input type="password" name="password" value={{field.p_word}}><br>
          <br>
        <input style="background-color: blue" allign="center" value="login "type="submit" name="login">
      </form>
   
  </body>
</html>
